</main>
<footer>
  <div class="main-footer">
    <div class="main-footer-element">
      <p class="large-text">Sasada Dev ©2024</p>
    </div>
  </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"
></script>
<script src="./index.js"></script>
<script src="./personalVisualizer.js"></script>
<script src="./loadUserData.js"></script>
<script src ="./themeChange.js"></script>
<script src="./updateSwitchButtonStates.js"></script>
<script src="./terminateSession.js" ></script>
<script src="./createPostButtonHandler.js"></script>
<script src="./likeButtonHandler.js"></script>
<script src="./deletePostButtonHandler.js"></script>
<script src="./navigateToPost.js"></script>
</body>
</html>