<%- include('./partials/header.ejs') %>
<form action="/submit_post" method="post">
  <div class="post-composing-grid">
    <div class="title-composing-area">
      <div class="post-composing-title">
        <label class="large-text" for="post-title">New post name:</label>
        <input
          class="large-text"
          type="text"
          id="post-title"
          name="title"
          placeholder="New post"
          maxlength="25"
          required
        />
      </div>
      <hr />
    </div>
    <div class="post-composing-content">
      <label class="large-text" for="post-content">New post text:</label>
      <textarea
        class="large-text"
        id="post-content"
        name="content"
        maxlength="624"
        rows="10"
        cols="50"
        placeholder="Post text goes here"
        required
      ></textarea>
    </div>
    <div class="form-confirm-button">
      <button class="huge-text" type="submit">OK</button>
    </div>
  </div>
</form>
<%- include('./partials/footer.ejs') %>
